.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  /* background-color: aquamarine; */
  height: 120px;
  width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.second-plan {
  /* background-color: blue; */
}
.second-plan img {
  width: 1224px;
  height: 450px;
  object-fit: cover;
}
.first-plan {
  background-color: white;
  border: 1px solid black;
  width: 410px;
  height: 200px;
}
/* le Main */
.card {
  background-color: pink;
  width: 1224px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.annonce {
  width: 231;
  height: 476px;
}
.picture_container {
  width: 230px;
  height: 360px;
  object-fit: cover;
}

.user img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
